*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-main);
  font-weight: 400;
  color: var(--color-black);
  background: var(--color-white);
}

body.is-lock {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font: inherit;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 1140px;
}